.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.prev{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.next {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.carousel-items{
    min-width: 350px;
    min-height: 250px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(49, 51, 58, 0.3);
    padding: 32px;
    background-color: #fff;
    margin-bottom: 16px;
    max-width: 100%;
}

.carousel-indicators{
    display: none;
}

.main-heading{
    font-size: 24px;
    text-align: center;
}

.sub-heading1{
    font-size: 18px;
    text-align: center;
}

.spinner {
    min-height: 70px;
    min-width: 70px;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/assets/images/loading.gif) no-repeat center;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(125, 113, 113, 0.25);
    box-shadow: 0 1px 3px rgba(49, 51, 58, 0.2);
    border-radius: 1.25rem;
    padding: 24px;
    margin: 24px;
}