<!-- <ngb-carousel *ngIf="images" #sampleCorousel>
  <ng-template ngbSlide *ngFor="let film of filmsData.results">
    <div class="picsum-img-wrapper">
     {{film.title}}
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  
</ngb-carousel> -->




<!-- <button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-triangle-right"></span></button>
<button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-triangle-left"></span>Right</button>
<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
<i class="glyphicon glyphicon-triangle-left"></i> -->


<div class="carousel" *ngIf="data && data.length > 0">
  <div class="prev">
    <button class="btn btn-lg btn-primary" (click)="previous()" aria-label="previous-title"><</button> 
  </div> 
  <div class="carousel-items">
        <ngb-carousel #imgCarousel [showNavigationArrows]="false" interval="0">
          <ng-template ngbSlide *ngFor="let item of data; let i = index">
            <div class="main-heading">
              {{item.title}}
            </div>

            <div class="sub-heading1" *ngIf="item.characters && item.characters.length > 0">
              <a class="btn btn-link" [routerLink]="['/characters',i]">Characters</a>
            </div>
            <div class="sub-heading1" *ngIf="item.secondaryData">
              <a class="btn btn-link" *ngFor="let species of item.secondaryData">{{species}}</a>
            </div>

          </ng-template>

        </ngb-carousel>
  </div>
  <div class="next">
    <button class="btn btn-lg btn-primary" (click)="next()" aria-label="next-title">></button>
  </div>
</div>





